@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

body {
  padding: 0;
  margin: 0;
  background-color: #fdf9e7;
  font-weight: bold;
} 

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b86f52;

}

.headerlinks {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  /* font-weight: bolder; */
}

.home {
  font-size: 20px;
  padding-right: 16px;
  padding-left: 45px;
  text-decoration: none;
  color: #fad5c7;
}

.home:hover {
  color: #f78764;
}

.shopcart {
  padding-right: 16px;
  text-decoration: none;
  color: #fad5c7;
}
.shopcart:hover {
  text-decoration: underline;
  color: #f78764;
}
/* .shopcart:visited {
  color: #fad5c7;
} */

.logout {
  text-decoration: none;
}
.logout:hover {
  text-decoration: underline;
}
.logout:visited {
  color: #fad5c7;
}

.register {
  text-decoration: none;
  transition-duration: 0.4;
  color: #fad5c7;
}
.register:hover {
  text-decoration: underline;
  color: #f78764;
}
/* .register:visited {
  color: #fad5c7;
} */

.logo {
  font-family: 'Dancing Script', cursive;
  color: #fad5c7;
  font-size: 40px;
  font-weight:bold;
}

button {
  border-radius: 12px;
  background-color:#fad5c7;
  font-family: 'Nunito', sans-serif;
}
#searchInput {
  margin: 4px;
}

