@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 80px;
  font-family: 'Nunito', sans-serif;
}

.flex-center{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f78764;
  background-image: url(./images/gifthub2.png);
  background-size: 330px;
  background-repeat: no-repeat;
  border: 4.2px #fad5c7;
  border-style: solid;
  border-radius: 30px;
  padding: 40px;
  margin: 10px;
  
}

#user {
  width: 250px;
  padding: 6px;
  background: none;
  border-color: white;
  border-style: none none ridge none ;
}

#pass {
  margin-top: 4px;
  width: 250px;
  padding: 6px;
  background: none;
  border-color: white;
  border-style: ridge;
  border-style: none none ridge none ;
}

::placeholder{
  color: black;
}

#submit {
  margin-right: 190px;
  margin-top: 10px;
}

.logregister{
  color: black;
}
.logregister:link {
  text-decoration: none;
}
.logregister:hover {
  text-decoration: underline;
}