@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');


#headline {
  display: flex;
  justify-content: center;
  font-family: 'Nunito', sans-serif;
}

.eachoccasion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: 'Nunito', sans-serif;
}

.eachoccasion {
  text-decoration: none;
}
.eachoccasion:hover {
  text-decoration: underline;
}
.eachoccasion:visited {
  color: #b86f52;
}
