@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

#occasionsbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
#headline {
  display: flex;
  justify-content: center;
  font-family: 'Nunito', sans-serif;
}

.occasionname {
  font-family: 'Nunito', sans-serif;
}

.eachoccasion {
  border: inset 2.2px #f78764;
  box-shadow: inset 2px 2px 1px #b86f52;
  background-color:rgb(254, 254, 241);
  width: 300px;
  border-radius:10px;
  height: fit-content;
  padding:5px;
  display:flex;
  margin: 8px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.eachoccasion {
  text-decoration: none;
}
.eachoccasion:hover {
  text-decoration: underline;
}
.eachoccasion:visited {
  color: #b86f52;
}
