@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

.shoppingbox {
  box-shadow: 1px 1px 2px 1px #b86f52;
  border: ridge 4.2px white;
  background-color: #fefcf3;
  width: 300px;
  border-radius:10px;
  height: fit-content;
  padding:5px;
  display:flex;
  margin: 8px;
  flex-direction: column;
  float: right;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.seperatetotal {
  border-style: solid none none;
  color: black
}